{{ $folder := .Get "folder" }}

<div class="sidebyside">
    <div class="sidebyside-col sidebyside-carousel">
      <div class="homepage owl-carousel sidebycarousel"
          data-autoplay="{{ default true .Site.Params.CarouselHomepage.auto_play }}"
          data-slide-speed="{{ default 2000 .Site.Params.CarouselHomepage.slide_speed }}"
          data-pagination-speed="{{ default 1000 .Site.Params.CarouselHomepage.pagination_speed }}">
          {{ range .Page.Resources.Match $folder}}
          <div class="item">
              <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
          </div>
          {{ end }}
      </div>
    </div>
    <div class="sidebyside-col sidebyside-carousel-text">
        {{ .Inner | markdownify}}
    </div>
  </div>